  <div style="background-image: linear-gradient(to right bottom, #4c7fcb, #6987c8, #7e8fc4, #9098c1, #9fa2be);">
  <% if student_signed_in? %>
<%=render "home/homepage"%>
  <% elsif admin_signed_in?%>
<%=render "home/homepage"%>
  <% else%>
  <br><br>
  <div class="container">
  <h2>Sign in with the respective user</h2>
<%= link_to "Admin", new_admin_session_path, class:"btn btn-primary" %>
<%= link_to "Student", new_student_session_path, class:"btn btn-primary"%>
</div>
<% end%>
</div>